.chess-clock {
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 300px;
  max-width: 550px;
  position: absolute;
  right: 0;
  top: 0;
}

.controls-buttons {
  display: flex;
  justify-content: space-around;
}

.toggler-mode-button {
  height: 37px;
  width: 65px;
}

.toggler-mode-button__part {
  border: 1px solid black;
  background-color: rgba(35, 31, 32, .8);
}

.toggler-mode-button__part--head {
  background-color: #601018;
  border-radius: 5px;
  height: 15px;
  width: 100%;
}

.toggler-mode-button__part--trunc {
  background-color: #acacac;
  border-top: none;
  border-bottom: none;
  height: 20px;
  margin: auto;
  position: relative;
  width: 35px;
}

.chess-clock__frame {
  border: 25px solid #601018;
  border-radius: 15px;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
}

.chess-clock__watch {
  align-items: center;
  display: flex;
  font-size: 80px;
  line-height: 1;
  justify-content: center;
  height: 100%;
  width: 50%;
  position: relative;
}

.chess-clock__watch:nth-child(n + 2) {
  border-left: 2px solid black;
}

.chess-clock__stand {
  display: flex;
  justify-content: space-around;
}

.chess-clock__stand-foot {
  background-color: #601018;
  border-radius: 3px;
  height: 15px;
  width: 58px;
}
